{% extends "layouts/basic.html" %}
{% block body %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse p-16">
    <div class="card flex-shrink-0 w-96 shadow-2xl bg-base-100">
      <div class="card-body">
        <h2 class="text-4xl font-bold text-center mb-2">{{config.APP_NAME}}</h2>
        {% if config.APP_SUBTITLE %}
        <p class="text-xs font-medium text-gray-500 text-center">{{config.APP_SUBTITLE}}</p>
        {% endif %}

        {% if config.ENFORCE_OIDC_AUTH != "1" %}
          <form action="{{url_for("auth.login", next=request.args.get("next"))}}" method="POST">
            <div class="form-control">
              <label class="label">
                <span class="label-text font-semibold">Email</span>
              </label>
              <input type="text" id="email" name="email" placeholder="{{ _('Email') }}" class="input input-bordered" required/>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text font-semibold">Password</span>
              </label>
              <input class="input input-bordered" placeholder="{{ _('Password') }}" id="password" name="password" type="password" required/>
              <label class="label">
                <a href="{{url_for("auth.reset_password_request")}}" class="label-text-alt link link-hover">Forgot password?</a>
              </label>
              {% if config.ENABLE_SELF_REGISTRATION == "1" %}
              <p class="text-primary text-xs font-medium ml-1 link link-hover"><a href="{{url_for("auth.register")}}">Don't have an account? Sign up here</a></p>
              {% endif %}
            </div>
            <div class="form-control mt-6">
              <button class="btn btn-primary">Login</button>
            </div>
          </form>
        {% endif %}

        {% if config.ENABLE_GOOGLE_AUTH == "1" %}
          <div class="divider h-1">OR</div>
          <div class="form-control">
            <!-- Google Login Button -->
          </div>
        {% endif %}

        {% if config.ENABLE_OIDC_AUTH == "1" %}
        <div class="divider h-1">OR</div>
        <div class="form-control">
          <!-- OIDC Login Link -->
          <a href="{{url_for('auth.oidc_login')}}" class="btn">Login with {{ config.IDENTITY_PROVIDER_NAME }}</a>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
