{% extends "layouts/basic.html" %}
{%block body%}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse p-16">
    <div class="card flex-shrink-0 w-96 shadow-2xl bg-base-100">
      <div class="card-body">
      <h2 class="text-4xl font-bold text-center mb-2">{{config.APP_NAME}}</h2>
      {%if config.APP_SUBTITLE%}
      <p class="text-xs font-medium text-center">{{config.APP_SUBTITLE}}</p>
      {%endif%}
      <form action="{{url_for("auth.reset_password",token=token)}}" method="POST">
        <div class="form-control">
          <label class="label">
            <span class="label-text font-semibold">New Password</span>
          </label>
          <input type="password" name="password" placeholder="Insert new password" class="input input-bordered" required/>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text font-semibold">Retype Password</span>
          </label>
          <input type="password" name="password2" placeholder="Re-enter new password" class="input input-bordered" required/>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Request Reset</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}
