{% extends "layouts/basic.html" %}
{%block body%}
<div x-data="reset()" class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse p-16">
    <div class="card flex-shrink-0 w-96 shadow-2xl bg-base-100">
      <div class="card-body">
      <h2 class="text-lg font-bold text-center mb-2">Reset Password</h2>
      <p class="text-xs font-medium text-center">Please enter your new password to continue.</p>
      <div>
        <div class="form-control">
      <form action="{{url_for("auth.reset_password", token=token)}}" method="POST">
            <div class="form-control">
              <label class="label">
                <span class="font-semibold text-xs">New Password</span>
              </label>
              <input x-model="payload.password" type="password" name="password" placeholder="Insert new password" class="input text-xs input-sm input-bordered" required/>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="font-semibold text-xs">Retype Password</span>
              </label>
              <input x-model="payload.password2" type="password" name="password2" placeholder="Re-enter new password" class="input text-xs input-sm input-bordered" required/>
            </div>
            <div class="form-control mt-4">
              <button :disabled="!readyToGo" class="btn btn-primary">Reset</button>
              <p x-show="payload.password !== payload.password2" class="mt-2 text-xs text-error">Passwords do not match.</p>
              <p x-show="payload.password === payload.password2 && payload.password.length < 12" class="mt-2 text-xs text-error">Passwords must be at least 12 characters.</p>
            </div>
            <p class="text-xs font-medium link link-hover mt-2 text-primary"><a href="{{url_for("auth.get_login")}}">Back to login</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block extrajs%}
<script>
function reset(){
    return {
        init() {
          this.$watch(
            "payload", (newValue, oldValue) => {
              this.isReadyToGo(newValue)
          })
        },
        payload: {
          password: null,
          password2: null
        },
        readyToGo: false,
        isReadyToGo: function(payload) {
            if (payload.password !== payload.password2) {
              this.readyToGo = false
              return
            }
            if (payload.password.length < 12) {
              this.readyToGo = false
              return
            }
            this.readyToGo = true
        }
    }
}
</script>
{%endblock%}