{% extends "layouts/basic.html" %}

{%block body%}
<div x-data="setPassword()" class="min-h-screen">
  <div class="grid md:grid-cols-2 lg:grid-cols-3 items-center lg:gap-10 gap-4">
      <div class="max-md:order-1 h-screen min-h-full min-w-full bg-primary"></div>

      <div class="lg:col-span-2 max-w-lg w-full p-4 mx-auto">
        <div class="mb-5">
          <h3 class="text-4xl font-extrabold mt-10">Set Password</h3>
          <p class="text-sm my-2">Please update/set your password to continue.</p>
        </div>
        <div class="mb-4">
          <label class="text-sm block mb-1">Password</label>
          <input type="password" x-model="password" name="password" id="password" class="input input-sm input-bordered w-full">
        </div>
        <div class="mb-4">
          <label class="text-sm block mb-1">Repeat Password</label>
          <input type="password" x-model="password2" name="password2" id="password2" class="input input-sm input-bordered w-full">
        </div>
        <p x-show="password !== password2" class="mt-2 text-xs text-error">Passwords do not match.</p>
        <p x-show="password === password2 && password.length < 12" class="mt-2 text-xs text-error">Passwords must be at least 12 characters.</p>
        <div class="form-control mt-6">
          <button :class="{'btn-disabled':!password || password !== password2 || password.length < 12}" @click="changePassword" class="btn btn-success">Update and Login</button>
        </div>
      </div>
  </div>
</div>
{%endblock%}

{%block extrajs%}
<script>
function setPassword(){
    return {
        init() {
          console.log(1)
        },
        password: null,
        password2: null,
        changePassword: function() {
            let jsonData = {
                "password": this.password,
                "password2": this.password2
            }
            request("PUT",
                "/api/v1/users/{{current_user.id}}/password",
                data => {
                    toast("Updated password. Redirecting to home page.")
                    setTimeout(function() {
                        window.location.href = "/"
                    }, 1000);
                },
                error => {
                  toast(error.message, "error");
                },
                jsonData
            );
        }
    }
}
</script>
{%endblock%}