{% extends "layouts/basic.html" %}

{%block header%}{%endblock%}
{%block header_name%}Home{%endblock%}

{%block content%}
<div class="grid grid-rows-1 grid-flow-col gap-4">
  <div class="card bg-base-100">
    <div class="card-body">
      <h2 class="card-title">Card title!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
    </div>
  </div>
</div>
<div class="grid grid-cols-6 gap-4 mt-5">
  <div class="col-span-4">
    <div class="card bg-base-100">
      <div class="card-body">
        <h2 class="card-title">Card title!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
      </div>
    </div>
  </div>
  <div class="col-span-2">
    <div class="card bg-base-100">
      <div class="card-body">
        <h2 class="card-title">Card title!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
      </div>
    </div>
  </div>
</div>
<div class="grid grid-cols-6 gap-4 mt-5">
  <div class="col-span-6">
    <div class="card bg-base-100">
      <div class="card-body">
        <h2 class="card-title mb-4">Card title!</h2>

<div class="overflow-x-auto">
  <table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Job</th>
        <th>Favorite Color</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>1</th>
        <td>Cy Ganderton</td>
        <td>Quality Control Specialist</td>
        <td>Blue</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>2</th>
        <td>Hart Hagerty</td>
        <td>Desktop Support Technician</td>
        <td>Purple</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>3</th>
        <td>Brice Swyre</td>
        <td>Tax Accountant</td>
        <td>Red</td>
      </tr>
    </tbody>
  </table>
</div>


      </div>
    </div>
  </div>
</div>

{%endblock%}
