<!doctype html>
<html lang="en" class="h-full bg-gray-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" href="">
    <title>{%block title%}{{config["APP_NAME"]|capitalize}}{%endblock%}</title>
    {% block include_jquery %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    {% import "helpers/src_macros.html" as macro %}
    {{ macro.filehelper(toasts=True) }}
    {% endblock %}
    {% block before_head %}
    {% endblock %}
    <!-- CSS files -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    {% block head %}
    {% endblock %}
</head>
{%block body%}
{%endblock%}
{%block extrajs%}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script>
      function toast(message,level="info") {
        var bg = "#367ff5"
        if (level === "success") {
          var bg = "#4ade80"
        } else if (level === "warning") {
          var bg = "#ffa929"
        } else if (level === "error") {
          var bg = "#f5584c"
        }
        Toastify({
          text: message,
          escapeMarkup: false,
          duration: 5000,
          close: true,
          gravity: "top",
          position: "right",
          stopOnFocus: true,
          style: {
            background: bg,
          },
          onClick: function(){} // Callback after click
        }).showToast();
      }
  </script>
  <script>
  $( document ).ready(function() {
    {% for level,message in get_flashed_messages(with_categories=True)[:5] %}
      {% if level == "message" %}
        {% set level = "success" %}
      {% endif %}
      toast("{{message}}","{{level}}")
    {% endfor %}
  });
  </script>
{%endblock%}
</html>
