<!doctype html>
<html lang="en" class="h-full bg-gray-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" href="">
    <title>{%block title%}{{config["APP_NAME"]|capitalize}}{%endblock%}</title>

    {% block before_head %}
    {% endblock %}
    <!-- Stylesheets -->
    {% if config.PLAYGROUND_CSS %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% else %}
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />
    {% endif %}
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.30.0/dist/tabler-icons.min.css">
    <script defer src="https://unpkg.com/alpinejs@3.13.10/dist/cdn.min.js" defer></script>

    {% block head %}
    {% endblock %}
</head>
{%block body%}
{%endblock%}

{%block extrajs%}
  <script>
      function toast(message,level="info") {
        var bg = "#367ff5"
        if (level === "success") {
          var bg = "#4ade80"
        } else if (level === "warning") {
          var bg = "#ffa929"
        } else if (level === "error") {
          var bg = "#f5584c"
        }
        Toastify({
          text: message,
          escapeMarkup: false,
          duration: 5000,
          close: true,
          gravity: "top",
          position: "right",
          stopOnFocus: true,
          style: {
            background: bg,
            borderRadius: "0.5rem"
          },
          onClick: function(){} // Callback after click
        }).showToast();
      }
  </script>
  <script>
  document.addEventListener('alpine:initialized', () => {
    console.log("alpine initialized")
    {% for level,message in get_flashed_messages(with_categories=True)[:5] %}
      {% if level == "message" %}
        {% set level = "success" %}
      {% endif %}
      toast("{{message}}","{{level}}")
    {% endfor %}
  })
  </script>
{%endblock%}
</html>
