{% extends "layouts/sidebar-nav.html" %}

{%block page_header_title%}Settings{%endblock%}
{%block page_header_title_border%}{%endblock%}

{%block content%}
<div class="mt-10 sm:mt-0">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="mt-5 col-span-3">
      <form action="{{url_for("main.settings")}}" method="POST">
        <div class="border border-base-200 sm:rounded-md">
          <div class="px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="name" class="block text-sm font-medium ">Name</label>
                <input type="text" value="not implemented" name="name" id="name" autocomplete="given-name" class="mt-1 input-md border border-base-300 block w-full shadow-sm sm:text-sm rounded-md">
                <p class="mt-2 text-sm ">The display name of your tenant</p>
              </div>

              <div class="col-span-6 sm:col-span-4">
                <label for="email" class="block text-sm font-medium ">Contact email address</label>
                <input type="text" value="not implemented" name="email" id="email" autocomplete="email" class="mt-1 input-md border border-base-300 block w-full shadow-sm sm:text-sm rounded-md">
                <p class="mt-2 text-sm ">The email for notifications</p>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="country" class="block text-sm font-medium ">License</label>
                <select id="country" name="country" autocomplete="country-name" class="mt-1 input-md border border-base-300 block w-full py-2 px-3 rounded-md shadow-sm focus:outline-none sm:text-sm" disabled>
                  <option>Basic</option>
                  <option>Pro</option>
                </select>
                <p class="mt-2 text-sm ">The license type (NOT IMPLEMENTED)</p>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 text-right sm:px-6">
            <button type="submit" class="btn btn-primary" disabled>Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{%endblock%}

{%block extrajs%}
<script>
  function loadSettings() {
  }
</script>
{%endblock%}
