{% extends "layouts/basic.html" %}

{%block header_title%}Settings{%endblock%}
{%block header_actions%}<a href="{{url_for("main.users")}}" class="btn btn-sm">Users</a>{%endblock%}

{%block content%}
<div class="mt-10 sm:mt-0">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Tenant</h3>
        <p class="mt-1 text-sm text-gray-600">Edit your tenant settings</p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="{{url_for("main.settings")}}" method="POST">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                <input type="text" value="{{tenant.name}}" name="name" id="name" autocomplete="given-name" class="mt-1 input-md border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                <p class="mt-2 text-sm text-gray-500">The display name of your tenant</p>
              </div>

              <div class="col-span-6 sm:col-span-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Contact email address</label>
                <input type="text" value="{{tenant.contact_email}}" name="email" id="email" autocomplete="email" class="mt-1 input-md border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                <p class="mt-2 text-sm text-gray-500">The email for notifications</p>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="country" class="block text-sm font-medium text-gray-700">License</label>
                <select id="country" name="country" autocomplete="country-name" class="mt-1 input-md border border-gray-300 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" disabled>
                  <option>Basic</option>
                  <option>Pro</option>
                </select>
                <p class="mt-2 text-sm text-gray-500">The license type (NOT IMPLEMENTED)</p>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 text-right sm:px-6 bg-white">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{%endblock%}
