{% extends "layouts/sidebar-nav.html" %}

{% block before_head %}
{{ super() }}
{% import "helpers/src_macros.html" as macro %}
{{ macro.filehelper(grid=True, select=True) }}
{% endblock %}

{%block page_header_title%}Tenants{%endblock%}
{%block page_header_title_border%}{%endblock%}
{%block page_header_buttons%}{%endblock%}
{%block tenant_btn%}{%endblock%}

{%block content%}
<div role="alert" class="alert bg-base-300">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 shrink-0 stroke-current"
    fill="none"
    viewBox="0 0 24 24">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span>Tenants are the highest level of data segmentation. All data (e.g. projects, risks and users) are segmented at the tenant level.</span>
</div>
<div x-data="table()" class="grid grid-cols-6 gap-4 mt-2">
    <div class="col-span-6">
        <div class="card bg-base-200 border border-base-300">
            <div class="card-body">
                <div class="flex justify-between align-items-center">
                    <h2 class="card-title mb-4">Tenants</h2>
                    <div class="space-x-2 flex">
                        <button class="btn btn-sm btn-ghost border border-base-300 capitalize tooltip"
                                @click="exportCSV" data-tip="CSV Export"><i class="ti ti-download"></i></button>
                        <button class="btn btn-sm btn-ghost border border-base-300 capitalize tooltip"
                                @click="getItems" data-tip="Refresh table"><i class="ti ti-refresh"></i></button>
                        <button class="btn btn-sm btn-success" @click="openCreateModal">Create Tenant</button>
                    </div>
                </div>
                <div class="mx-auto text-center mt-5" x-show="loading" x-transition:enter.duration.500ms
                     x-transition:leave.duration.100ms x-html="loadingSkeleton"></div>
                <div x-show="!loading" class="ag-theme-quartz" id="table_1" x-transition:enter.duration.500ms
                     x-transition:leave.duration.500ms></div>
            </div>
        </div>
    </div>

    <div>
        <div class="modal" x-bind:class="{ 'modal-open': showDeleteModal }">
            <div class="modal-box">
                <form method="dialog">
                    <button @click="showDeleteModal = false"
                            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕
                    </button>
                </form>
                <h3 class="font-bold text-lg" x-text="'Are you sure you want to delete Tenant: ' + selectedItem.name + '? You will lose all data within the tenant and this action can not be undone.'"></h3>
                <div class="modal-action">
                    <button class="btn" @click="showDeleteModal = false">Close</button>
                    <button class="btn btn-error" :class='{"btn-disabled": buttonDisabled}'
                            @click="deleteTenant(selectedItem)">Delete Tenant
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="modal" x-bind:class="{ 'modal-open': showCreateModal }">
            <div class="modal-box w-11/12 max-w-2xl">
                <form method="dialog">
                    <button @click="showCreateModal = false"
                            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕
                    </button>
                </form>
                <h3 class="font-bold text-xl px-8">Create Tenant</h3>
                <div class="card card-body">
                <div role="alert" class="alert bg-base-200 mb-4">
                    <i class="ti ti-alert-triangle text-md"></i>
                    <span class="text-xs">A Tenant is the highest layer of segmentation. Projects, users, policies, evidence, etc are all stored within Tenants.</span>
                </div>
                    <div class="grid grid-cols-6 gap-x-6">
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Name</label>
                            <input x-model="formData.name" type="text" placeholder="Input tenant name"
                                   class="input input-sm input-bordered w-full" required/>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Contact email</label>
                            <input x-model="formData.contact_email" type="email" placeholder="Input email"
                                   class="input input-sm input-bordered w-full" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-action">
                    <button class="btn" @click="showCreateModal = false">Close</button>
                    <button :disabled="!formData.name" class="btn btn-primary" :class='{"btn-disabled": buttonDisabled}' @click="createTenant">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="modal" x-bind:class="{ 'modal-open': showModal }">
            <div class="modal-box w-11/12 max-w-5xl">
                <form method="dialog">
                    <button @click="showModal = false" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
                        ✕
                    </button>
                </form>
                <h3 class="font-bold text-lg capitalize px-6" x-text="'Tenant: '+selectedItem.name"></h3>
                <div class="card card-body">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Tenant ID</label>
                            <input disabled type="text" x-model="selectedItem.id" placeholder=""
                                   class="input input-bordered w-full" required/>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Tenant Name</label>
                            <input disabled  type="text" x-model="selectedItem.name" placeholder=""
                                   class="input input-bordered w-full" required/>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">License</label>
                            <select :disabled="!$store.currentUser.super" x-model="selectedItem.license" class="select select-bordered w-full">
                                <option :selected="selectedItem.license==='trial'"  value="trial">Trial</option>
                                <option :selected="selectedItem.license==='silver'" value="silver">Silver</option>
                                <option :selected="selectedItem.license==='gold'" value="gold">Gold</option>
                            </select>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Contact Email</label>
                            <input x-model="selectedItem.contact_email"  type="text" placeholder="Enter contact email"
                                   class="input input-bordered w-full" required/>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Approved Domains</label>
                            <select x-ref="approvedDomains" class="bg-base-100 border border-base-content border-opacity-30 rounded-lg p-2 mt-2" id="restrictedDomains" multiple></select>
                            <p class="text-xs text-warning mt-2">Note: Restrict which domains users can access your tenant from. (e.g. example.com)</p>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Email Login</label>
                            <input type="checkbox" x-model="selectedItem.magic_link_login" :checked="selectedItem.magic_link_login" class="checkbox" />
                            <p class="text-xs text-warning mt-2">Note: Allow users to login by sending a one-time code to their email (no password required)</p>

                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Storage Cap</label>
                            <input :disabled="!$store.currentUser.super" x-model="selectedItem.storage_cap" type="number" placeholder="Enter storage cap"
                                   class="input input-bordered w-full" required/>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">User Cap</label>
                            <input :disabled="!$store.currentUser.super" x-model="selectedItem.user_cap"  type="number" placeholder="Enter user cap"
                                   class="input input-bordered w-full" required/>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Project Cap</label>
                            <input :disabled="!$store.currentUser.super" x-model="selectedItem.project_cap"  type="number" placeholder="Enter project cap"
                                   class="input input-bordered w-full" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-action">
                    <button class="btn" @click="showModal = false">Close</button>
                    <button class="btn btn-error" @click="openDeleteModal(selectedItem)">Delete</button>
                    <button class="btn btn-success" :class='{"btn-disabled": buttonDisabled}'
                            @click="updateTenant(selectedItem)">Update
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
{%endblock%}

{%block extrajs%}
<script>
function table(){
    return {
        init() {
          this.$watch(
            "items", (newValue, oldValue) => {
                this.drawTable({"selector": "#table_1", "tableData":newValue})
          })

          this.getItems()
        },
        loadingSkeleton: '<span class="loading loading-dots loading-lg"></span>',
        loading: true,
        showDeleteModal: false,
        showModal: false,
        buttonDisabled: false,
        selectedItem: {},
        modalFields: [],
        tableHeaders: [
          {"field": "id", "headerName": "#", "width": 100, "filter": "agTextColumnFilter", "hide": true, "modal": {"disable": true}},
          {"field": "name", "headerName": "Name", "filter": "agTextColumnFilter", "modal": {"disable": true}},
          {"field": "contact_email", "headerName": "Contact", "filter": "agTextColumnFilter"},
          {"field": "license", "headerName": "License", "filter": "agTextColumnFilter", "cellClass": "capitalize"},
          {"field": "user_cap", "headerName": "User Cap", "filter": "agNumberColumnFilter"},
          {"field": "id", "headerName": "Users", "width": 100, "filter": "agTextColumnFilter", "cellRenderer": idToButton, "cellRendererParams": {"text": "View", "class": "btn-xs bg-base-100", "link": "/users"}},
        ],
        openModal(item) {
          this.selectedItem = item;
          let options = []
          let selected = []
          if (this.selectedItem.approved_domains.length > 0) {
            options = this.selectedItem.approved_domains.map(text => ({ value: text, text: text, class: "!text-base-content" }));
            selected = this.selectedItem.approved_domains;
          }
          select({"id": "#restrictedDomains", "addable": true, "options": options, "selected": selected})
          this.showModal = true;
        },
        showCreateModal: false,
        openCreateModal(item) {
          this.showCreateModal = true;
        },
        openDeleteModal(item) {
          this.selectedItem = item;
          this.showModal = false;
          this.showDeleteModal = true;
        },
        items: [],
        formData: {
          "name": "",
          "contact_email": "{{current_user.email}}"
        },
        createTenant() {
          if (!this.formData.name) {
            toast("Name is required", "error")
            return
          }
          if (!this.formData.contact_email) {
            toast("Email is required", "error")
            return
          }
          toast("Please wait...")
          this.buttonDisabled = true;
          request("POST",
            "/api/v1/tenants",
            data => {
              toast("Created tenant. Select the tenant to configure settings.")
              this.getItems()
              this.showCreateModal = false;
              this.formData.contact_email = ""
              this.formData.is_system = false
              this.buttonDisabled = false;
            },
            error => {
              toast(error.message, "error");
            },
            this.formData
          );
        },
        updateTenant(item) {
          let selected = new SlimSelect({select: this.$refs.approvedDomains}).getSelected()
          console.log(selected)
          let payload = {
            "license": item.license,
            "contact_email": item.contact_email,
            "approved_domains": selected,
            "magic_link_login": item.magic_link_login,
            "storage_cap": item.storage_cap.toString(),
            "user_cap": parseInt(item.user_cap),
            "project_cap": parseInt(item.project_cap),
          }
          if (!item.contact_email) {
            toast("Email is required", "error")
            return
          }
          toast("Please wait...")
          this.buttonDisabled = true;
          request("PUT",
            "/api/v1/tenants/"+item.id,
            data => {
              location.reload()
            },
            error => {
              toast(error.message, "error");
            },
            payload
          );
        },
        deleteTenant(item) {
          toast("Please wait... This may take a minute.")
          this.buttonDisabled = true;
          request("DELETE",
            "/api/v1/tenants/"+item.id,
            data => {
              toast("Deleted tenant")
              this.getItems()
              this.showDeleteModal = false;
              this.buttonDisabled = false;
            },
            error => {
              toast(error.message, "error");
            },
            this.formData
          );
        },
        exportCSV: function() {
          this.table.exportDataAsCsv();
        },
        removeControlFilters: function() {
          this.table.setFilterModel(null);
        },
        drawTable: function({ selector = null, tableData = null, formatter = null }) {
          var data = tableData;
          var columns = [];

          gridOptions = {
            pagination: true,
            paginationPageSize: 25,
            domLayout: "autoHeight",
            suppressMenuHide: true,
            suppressHorizontalScroll: true,
            enableCellTextSelection:true,
            suppressFieldDotNotation: true,
            onGridReady: (params) => {
              params.api.sizeColumnsToFit();
              this.loading = false;
              window.onresize = () => {
                this.loading = true;
                params.api.sizeColumnsToFit();
                this.loading = false;
              }
            },
            autoSizeStrategy: {
              type: 'fitGridWidth',
              defaultMinWidth: 50,
            }
          }
          const gridElement = document.querySelector(selector);
          if (this.table) {
            this.table.destroy();
          }

          gridOptions.rowData = this.formattedTable(tableData);
          gridOptions.columnDefs = this.tableHeaders

          gridOptions.onRowDoubleClicked = (row) => {
            selectedItem = this.items.find(obj => obj.id === row.data.id);
            this.openModal(selectedItem)
          },

          this.table = agGrid.createGrid(gridElement, gridOptions);

        },
        formattedTable: function(data) {
          var filteredData = [];
          var keysToExtract = this.tableHeaders.map(header => header.field)

          data.forEach((row) => {
            var filteredRow = {};
            keysToExtract.forEach(key => {
              /*
              if (row.name === "Limit unsuccessful logon") {
                row.name = `<button class='btn btn-sm' @click='alert(1)' x-text='${this.controls.length}'></button>`
              }*/

              filteredRow[key] = row[key];
            });
            filteredData.push(filteredRow);
          });

          return filteredData
        },
        getItems: function() {
          this.loading = true,
          request("GET",
            "/api/v1/tenants",
            data => {
              this.items = data;
              this.loading = false;
            },
            error => {
              toast(error.message, "error");
            }
          );
        }
    }
}

</script>
{%endblock%}
