{% extends "layouts/sidebar-nav.html" %}

{% import "helpers/snippets.html" as snippet with context %}
{% block before_head %}
{{ super() }}
{% import "helpers/src_macros.html" as macro %}
{{ macro.filehelper(grid=True, tags=True) }}
{% endblock %}

{%block page_header_title%}Instance Users{%endblock%}
{%block page_header_title_border%}{%endblock%}
{%block page_header_buttons%}{%endblock%}

{%block content%}
<div x-data="table()">

    <div x-show="showInviteAlert" role="alert" class="alert text-success">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span class="text-sm font-semibold" x-html="inviteUserMessageTitle"></span>
      <div>
          <button @click="copyInviteLink" class="btn btn-sm btn-success">Copy Invite Link</button>
      </div>
    </div>    


    <div class="grid grid-cols-6 gap-4 mt-2">
        <div class="col-span-6">
        <div class="card bg-base-200 border border-base-300">
            <div class="card-body">
                <div class="flex justify-between align-items-center">
                    <h2 class="card-title mb-4">Users</h2>
                    <div class="space-x-2 flex">
                        <button class="btn btn-sm btn-ghost border border-base-300 capitalize tooltip"
                                @click="exportCSV" data-tip="CSV Export"><i class="ti ti-download"></i></button>
                        <button class="btn btn-sm btn-ghost border border-base-300 capitalize tooltip"
                                @click="getItems" data-tip="Refresh table"><i class="ti ti-refresh"></i></button>
                        <button class="btn btn-sm btn-success" @click="openCreateModal">Create User</button>
                    </div>
                </div>
                <div class="mx-auto text-center mt-5" x-show="loading" x-transition:enter.duration.500ms
                     x-transition:leave.duration.100ms x-html="loadingSkeleton"></div>
                <div x-show="!loading" class="ag-theme-quartz" id="table_1" x-transition:enter.duration.500ms
                     x-transition:leave.duration.500ms></div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal" x-bind:class="{ 'modal-open': showDeleteModal }">
            <div class="modal-box">
                <form method="dialog">
                    <button @click="showDeleteModal = false"
                            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕
                    </button>
                </form>
                <h3 class="font-bold text-lg" x-text="'Are you sure you want to deactivate ' + selectedItem.id + '?'"></h3>
                <div class="modal-action">
                    <button class="btn" @click="showDeleteModal = false">Close</button>
                    <button class="btn btn-error" :class='{"btn-disabled": buttonDisabled}'
                            @click="deleteUser">Deactivate User
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="modal" x-bind:class="{ 'modal-open': showCreateModal }">
            <div class="modal-box w-11/12 max-w-xl">
                <form method="dialog">
                    <button @click="showCreateModal = false"
                            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕
                    </button>
                </form>
                <h3 class="font-bold text-xl px-8">Create Admin</h3>
                <div class="card card-body">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6">
                            <div role="alert" class="alert alert-warning">
                              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                              <span>Warning: You are creating an <b>Instance Admin</b>. They will have unrestricted access to all tenants. If you want to create a regular user, navigate to <a href="/users" class="underline">Tenant Users</a></span>
                            </div>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Email</label>
                            <input x-model="payload.email" type="email" placeholder="Input email"
                                   class="input input-sm input-bordered w-full" required/>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">License</label>
                                <select x-model="payload.license" class="select select-sm select-bordered w-full">
                                    <option value="trial">Trial</option>
                                    <option value="silver">Silver</option>
                                    <option value="gold">Gold</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="modal-action">
                    <button class="btn" @click="showCreateModal = false">Close</button>
                    <button :disabled="!payload.email.includes('@')" class="btn btn-success" @click="createUser">Create Instance Admin</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="modal" x-bind:class="{ 'modal-open': showModal }">
            <div class="modal-box w-11/12 max-w-5xl">
                <form method="dialog">
                    <button @click="showModal = false" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
                        ✕
                    </button>
                </form>
                <h3 class="font-bold text-lg" x-text="'Update: '+selectedItem.email"></h3>
                <div class="card card-body">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">First Name</label>
                            <input x-model="selectedItem.first_name" type="text" placeholder="Input first name"
                                   class="input input-sm input-bordered w-full" required/>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Last Name</label>
                            <input x-model="selectedItem.last_name" type="text" placeholder="Input last name"
                                   class="input input-sm input-bordered w-full" required/>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Email</label>
                            <input x-model="selectedItem.email" type="email" placeholder="Input email"
                                   class="input input-sm input-bordered w-full" required/>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Username</label>
                            <input x-model="selectedItem.username" type="text" placeholder="Input username"
                                   class="input input-sm input-bordered w-full" required/>
                        </div>
                        <div class="col-span-2">
                            <label class="block text-sm font-medium pb-2">Active</label>
                            <input type="checkbox" x-model="selectedItem.is_active" :checked="selectedItem.is_active" class="checkbox" />
                        </div>
                        <div class="col-span-2">
                            <label class="block text-sm font-medium pb-2">Email Confirmed</label>
                            <input x-show="selectedItem.email_confirmed_at" type="checkbox" x-model="selectedItem.email_confirmed_at" checked class="checkbox" />
                            <input x-show="!selectedItem.email_confirmed_at" type="checkbox" x-model="selectedItem.email_confirmed_at" class="checkbox" />
                        </div>
                        <div class="col-span-2">
                            <label class="block text-sm font-medium pb-2">Super User</label>
                            <input type="checkbox" x-model="selectedItem.super" :checked="selectedItem.super" class="checkbox" />
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Tenant Creation</label>
                            <input type="checkbox" x-model="selectedItem.can_user_create_tenant" :checked="selectedItem.can_user_create_tenant" class="checkbox" />
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Tenant Limit</label>
                            <input x-model="selectedItem.tenant_limit" type="number" placeholder="Limit of # of tenants"
                                   class="input input-sm input-bordered w-full"/>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">License</label>
                                <select x-model="selectedItem.license" class="select select-sm select-bordered w-full">
                                    <option :selected="selectedItem.license==='trial'"  value="trial">Trial</option>
                                    <option :selected="selectedItem.license==='silver'" value="silver">Silver</option>
                                    <option :selected="selectedItem.license==='gold'" value="gold">Gold</option>
                                </select>
                        </div>
                        <div class="col-span-3">
                            <label class="block text-sm font-medium pb-2">Trial Period</label>
                                <select x-model="selectedItem.trial_days" class="select select-sm select-bordered w-full">
                                    <option :selected="parseInt(selectedItem.trial_days)===14" value="14">14 days</option>
                                    <option :selected="parseInt(selectedItem.trial_days)===30" value="30">30 days</option>
                                    <option :selected="parseInt(selectedItem.trial_days)===60" value="60">60 days</option>
                                </select>
                        </div>
                    </div>
                </div>

                <div class="modal-action">
                    <button class="btn" @click="showModal = false">Close</button>
                    <button class="btn btn-error" @click="openDeleteModal(selectedItem)">Deactivate</button>
                    <button class="btn btn-success" :class='{"btn-disabled": buttonDisabled}'
                            @click="updateUser">Update
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
{%endblock%}

{%block extrajs%}
<script>
function table(){
    return {
        init() {
          this.$watch(
            "items", (newValue, oldValue) => {
                this.drawTable({"selector": "#table_1", "tableData":newValue})
          })
          this.$watch('selected', value => selectedString = value.join(','))

          this.getItems()
        },
        loadingSkeleton: '<span class="loading loading-dots loading-lg"></span>',
        loading: true,
        showDeleteModal: false,
        showModal: false,
        buttonDisabled: false,
        selectedItem: {},
        modalFields: [],
        showInviteAlert: false,
        inviteUserMessageTitle: "",
        inviteLink: "",
        payload: {},
        tableHeaders: [
          {"field": "id", "headerName": "#", "width": 100, "filter": "agTextColumnFilter", "hide": true, "modal": {"disable": true}},
          {"field": "email", "headerName": "Email", "filter": "agTextColumnFilter"},
          {"field": "first_name", "headerName": "First", "filter": "agTextColumnFilter"},
          {"field": "last_name", "headerName": "Last", "filter": "agTextColumnFilter"},
          {"field": "super", "headerName": "Super user", "filter": "agTextColumnFilter",  "cellRenderer":booleanBadge},
          {"field": "is_active", "headerName": "Active", "filter": "agTextColumnFilter",  "cellRenderer":booleanBadge},
          {"field": "email_confirmed_at", "headerName": "Confirmed", "filter": "agTextColumnFilter",  "cellRenderer":hasValue},
          {"field": "license", "headerName": "License", "filter": "agTextColumnFilter", "cellClass": "capitalize"},
          {"field": "date_added", "headerName": "Created", "filter": "agTextColumnFilter"}
        ],
        openModal(item) {
          this.selectedItem = item;
          this.showModal = true;
          let selected = [];
          let unselected = [];

          for (let role of this.allRoles) {
            if (item.roles.includes(role)) {
              selected.push(role);
            } else {
              unselected.push(role);
            }
          }

          this.selected2 = selected;
          this.unselected2 = unselected;
        },
        showCreateModal: false,
        openCreateModal(item) {
          this.showCreateModal = true;
          this.selected = [];
          this.unselected = this.allRoles;
        },
        openDeleteModal(item) {
          this.selectedItem = item;
          this.showModal = false;
          this.showDeleteModal = true;
        },
        items: [],
        formData: {
          "email": "",
          "tenant": ""
        },
        copyLink: function(link) {
            // Create a temporary textarea element
            let textarea = document.createElement('textarea');

            // Set the value of the textarea to the text you want to copy
            textarea.value = link.toString();

            // Append the textarea to the document
            document.body.appendChild(textarea);

            // Select the text in the textarea
            textarea.select();

            // Execute the copy command
            document.execCommand('copy');

            // Remove the textarea from the document
            document.body.removeChild(textarea);
            toast("Link copied to your clipboard")
        },
        copyInviteLink() {
          this.copyLink(this.inviteLink);
        },
        createUser() {
          if (!this.payload.email) {
            toast("Email is required", "error")
            return
          }
          toast("Please wait...")
          this.buttonDisabled = true;
          request("POST",
            `/api/v1/admin/users`,
            data => {
              toast("Created User")
              this.getItems()
              this.showCreateModal = false;
              this.payload = {}
              this.buttonDisabled = false;
              this.inviteLink = data.access_link;

              if (data["sent-email"]) {
                this.inviteUserMessageTitle = "We sent an invite via email. You can also copy/share the link with the user."
              } else {
                this.inviteUserMessageTitle = "Email has not been configured. You must share the invite link with the user."
              }
              this.showInviteAlert = true;
            },
            error => {
              toast(error.message, "error");
            },
            this.payload
          );
        },
        updateUser() {
          if (!this.selectedItem.email) {
            toast("Email is required", "error")
            return
          }
          let payload = {
            "email": this.selectedItem.email,
            "username": this.selectedItem.username,
            "first_name": this.selectedItem.first_name,
            "last_name": this.selectedItem.last_name,
            "super": this.selectedItem.super,
            "can_user_create_tenant": this.selectedItem.can_user_create_tenant,
            "is_active": this.selectedItem.is_active,
            "tenant_limit": this.selectedItem.tenant_limit,
            "license": this.selectedItem.license,
            "trial_days": this.selectedItem.trial_days,
            "email_confirmed": this.selectedItem.email_confirmed_at
          }

          toast("Please wait...")
          this.buttonDisabled = true;
          request("PUT",
            `/api/v1/users/${selectedItem.id}`,
            data => {
              toast("Updated User")
              this.getItems()
              this.showModal = false;
              this.buttonDisabled = false;
            },
            error => {
              toast(error.message, "error");
            },
            payload
          );
        },
        deleteUser() {
          toast("Please wait... This may take a minute.")
          this.buttonDisabled = true;
          request("DELETE",
            `/api/v1/users/${this.selectedItem.id}`,
            data => {
              toast("The user has been made inactive.")
              this.getItems()
              this.showDeleteModal = false;
              this.buttonDisabled = false;
            },
            error => {
              toast(error.message, "error");
            },
            this.formData
          );
        },
        exportCSV: function() {
          this.table.exportDataAsCsv();
        },
        removeControlFilters: function() {
          this.table.setFilterModel(null);
        },
        drawTable: function({ selector = null, tableData = null, formatter = null }) {
          var data = tableData;
          var columns = [];

          gridOptions = {
            pagination: true,
            paginationPageSize: 25,
            domLayout: "autoHeight",
            suppressMenuHide: true,
            suppressHorizontalScroll: true,
            enableCellTextSelection:true,
            suppressFieldDotNotation: true,
            onGridReady: (params) => {
              params.api.sizeColumnsToFit();
              this.loading = false;
              window.onresize = () => {
                this.loading = true;
                params.api.sizeColumnsToFit();
                this.loading = false;
              }
            },
            autoSizeStrategy: {
              type: 'fitGridWidth',
              defaultMinWidth: 50,
            }
          }
          const gridElement = document.querySelector(selector);
          if (this.table) {
            this.table.destroy();
          }

          gridOptions.rowData = this.formattedTable(tableData);
          gridOptions.columnDefs = this.tableHeaders

          gridOptions.onRowDoubleClicked = (row) => {
            selectedItem = this.items.find(obj => obj.id === row.data.id);
            this.openModal(selectedItem)
          },

          this.table = agGrid.createGrid(gridElement, gridOptions);

        },
        formattedTable: function(data) {
          var filteredData = [];
          var keysToExtract = this.tableHeaders.map(header => header.field)

          data.forEach((row) => {
            var filteredRow = {};
            keysToExtract.forEach(key => {
              /*
              if (row.name === "Limit unsuccessful logon") {
                row.name = `<button class='btn btn-sm' @click='alert(1)' x-text='${this.controls.length}'></button>`
              }*/

              filteredRow[key] = row[key];
            });
            filteredData.push(filteredRow);
          });

          return filteredData
        },
        getItems: function() {
          this.loading = true,
          request("GET",
            `/api/v1/admin/users`,
            data => {
              this.items = data;
              this.loading = false;
            },
            error => {
              toast(error.message, "error");
            }
          );
        }
    }
}

</script>
{%endblock%}
