.dt-checkboxes:checked, .dt-checkboxes[checked=true], .dt-checkboxes[aria-checked=true],.dt-checkboxes-select-all:nth-child(1) input:checked {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    --p: 259 94% 51%;
    --pf: 259 94% 41%;
    --sf: 314 100% 38%;
    --af: 174 60% 41%;
    --nf: 219 14% 22%;
    --in: 198 93% 60%;
    --su: 158 64% 52%;
    --wa: 43 96% 56%;
    --er: 0 91% 71%;
    --inc: 198 100% 12%;
    --suc: 158 100% 10%;
    --wac: 43 100% 11%;
    --erc: 0 100% 14%;
    --rounded-box: 1rem;
    --rounded-btn: .5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: .25s;
    --animation-input: .2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: .95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: .5rem;
    --pc: 0 0% 100%;
    --s: 314 100% 47%;
    --sc: 0 0% 100%;
    --a: 174 60% 51%;
    --ac: 175 44% 15%;
    --n: 219 14% 28%;
    --nc: 0 0% 100%;
    --b1: 0 0% 100%;
    --b2: 0 0% 95%;
    --b3: 180 2% 90%;
    --bc: 215 28% 17%;
    pointer-events: auto;
    visibility: visible;
    border-collapse: separate !important;
    border-spacing: 0;
    white-space: nowrap;
    border: 0 solid;
    box-sizing: border-box;
    border-style: solid;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    --chkbg: var(--bc);
    --chkfg: var(--b1);
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    appearance: none;
    border-width: 1px;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    --tw-border-opacity: .2;
    border-radius: var(--rounded-btn,.5rem);
    flex-shrink: 0;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--bc)/var(--tw-bg-opacity));
    animation: checkmark var(--animation-input,.2s)ease-in-out;
    background-repeat: no-repeat;
    background-image: linear-gradient(-45deg,transparent 65%,hsl(var(--chkbg))65.99%),linear-gradient(45deg,transparent 75%,hsl(var(--chkbg))75.99%),linear-gradient(-45deg,hsl(var(--chkbg))40%,transparent 40.99%),linear-gradient(45deg,hsl(var(--chkbg))30%,hsl(var(--chkfg))30.99%,hsl(var(--chkfg))40%,transparent 40.99%),linear-gradient(-45deg,hsl(var(--chkfg))50%,hsl(var(--chkbg))50.99%);
}
.dt-checkboxes, .dt-checkboxes-select-all:nth-child(1) input{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    --p: 259 94% 51%;
    --pf: 259 94% 41%;
    --sf: 314 100% 38%;
    --af: 174 60% 41%;
    --nf: 219 14% 22%;
    --in: 198 93% 60%;
    --su: 158 64% 52%;
    --wa: 43 96% 56%;
    --er: 0 91% 71%;
    --inc: 198 100% 12%;
    --suc: 158 100% 10%;
    --wac: 43 100% 11%;
    --erc: 0 100% 14%;
    --rounded-box: 1rem;
    --rounded-btn: .5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: .25s;
    --animation-input: .2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: .95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: .5rem;
    --pc: 0 0% 100%;
    --s: 314 100% 47%;
    --sc: 0 0% 100%;
    --a: 174 60% 51%;
    --ac: 175 44% 15%;
    --n: 219 14% 28%;
    --nc: 0 0% 100%;
    --b1: 0 0% 100%;
    --b2: 0 0% 95%;
    --b3: 180 2% 90%;
    --bc: 215 28% 17%;
    pointer-events: auto;
    visibility: visible;
    border-collapse: separate !important;
    border-spacing: 0;
    white-space: nowrap;
    --tw-bg-opacity: 1;
    border: 0 solid;
    box-sizing: border-box;
    border-style: solid;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    --chkbg: var(--bc);
    --chkfg: var(--b1);
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    appearance: none;
    border-width: 1px;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    --tw-border-opacity: .2;
    border-radius: var(--rounded-btn,.5rem);
    flex-shrink: 0;
}

a.paginate_button {
    margin-left: 10px;
    cursor: pointer;
}

a.paginate_button.current {
    height: 2rem !important;
    min-height: 2rem !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    font-size: .875rem !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    border-color: #0000 !important;
    border-color: hsl(var(--n)/var(--tw-border-opacity)) !important;
    text-align: center !important;
    border-radius: var(--rounded-btn,.5rem) !important;
    height: 2rem !important;
    min-height: 2rem !important;
    text-transform: uppercase !important;
    text-transform: var(--btn-text-case,uppercase) !important;
    border-width: var(--border-btn,1px) !important;
    animation: button-pop var(--animation-btn,.25s)ease-out !important;
    --tw-border-opacity: 1 !important;
    --tw-bg-opacity: 1 !important;
    background-color: hsl(var(--n)/var(--tw-bg-opacity)) !important;
    --tw-text-opacity: 1 !important;
    color: white !important;
    flex-wrap: wrap !important;
    flex-shrink: 0 !important;
    justify-content: center !important;
    align-items: center !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    font-size: .875rem !important;
    font-weight: 600 !important;
    line-height: 1em !important;
    -webkit-text-decoration-line: none !important;
    text-decoration-line: none !important;
    transition-property: color,background-color,border-color,-webkit-text-decoration-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter !important;
    transition-duration: .2s !important;
    transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
    display: inline-flex !important;
}

.dataTables_empty {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #787878;
}

.dataTables_paginate {
  display: inline-block;
  float: right;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #787878;
}
.paginate_button.previous {
  margin-right:5px;
}
.paginate_button.next {
  margin-left:5px;
}

.dataTables_info {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #787878;
}

.dataTables_length {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  color: #787878;
  font-weight: 500;
}
.dataTables_filter {
  display: inline-block;
  float: right;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  color: #787878;
  font-weight: 500;
}

.dataTables_filter > label > input {
    height: 2rem !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    font-size: .875rem !important;
    line-height: 2rem !important;
    --tw-border-opacity: .2;
    border: 1px solid #e1e1e1 !important;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity)) !important;
    border-radius: var(--rounded-btn,.5rem) !important;
    flex-shrink: 1 !important;
    transition-property: color,background-color,border-color,-webkit-text-decoration-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter !important;
    transition-duration: .2s !important;
    transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
}
