.select2-container--default .select2-search--inline .select2-search__field {
  margin-left:10px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: 4f46e5;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border: 0px !important;
}

.select2-container--default .select2-selection--multiple {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  border-width: 1px;
padding-top: 2px;
}

.select2-container-active {
  box-shadow: 0 0 #0000;
}

span.select2-arrow {
  visibility:hidden;
}
.select2-container .select2-choice {
    background: transparent;
}
.select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: transparent;
}

.select2-drop-active,a.select2-choice {
  border: 1px solid #fff !important
}
.select2-results .select2-highlighted {
    background: #e7e8e9;
}
.select2-result-label .wrap:befores{
    position:absolute;
    left:4px;
    font-family:fontAwesome;
    color:#999;
    content:"\f096";
    width:25px;
    height:25px;    
}
.select2-container .select2-choice>.select2-chosen {
    font-weight: 500;
    color: #1f2937;
}
span.select2-selection.select2-selection--multiple {
  height:38px;
}
.wrap.checked {
    font-weight: 600;
    font-size: 0.675rem;
    line-height: 1.25rem;
    color: #1f2937;
    text-transform: uppercase;
}
.wrap {
    font-weight: 600;
    font-size: 0.675rem;
    line-height: 1.25rem;
    color: #1f2937;
    text-transform: uppercase;
}
.select2-result-label .wrap.checked:before{
/*    content:"\f14a";*/
    content:"";
    margin-right:5px !important;
}
.select2-result-label .wrap{
    margin-left:0px;
}

li.select2-selection__choice {
  background-color:#f1f5f9 !important;
  color: 4b5563 !important;
  font-weight: 600;
}

.select2-result-label .wrap:before{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --p: 259 94% 51%;
    --pf: 259 94% 41%;
    --sf: 314 100% 38%;
    --af: 174 60% 41%;
    --nf: 219 14% 22%;
    --in: 198 93% 60%;
    --su: 158 64% 52%;
    --wa: 43 96% 56%;
    --er: 0 91% 71%;
    --inc: 198 100% 12%;
    --suc: 158 100% 10%;
    --wac: 43 100% 11%;
    --erc: 0 100% 14%;
    --rounded-box: 1rem;
    --rounded-btn: .5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: .25s;
    --animation-input: .2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: .95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: .5rem;
    --pc: 0 0% 100%;
    --s: 314 100% 47%;
    --sc: 0 0% 100%;
    --a: 174 60% 51%;
    --ac: 175 44% 15%;
    --n: 219 14% 28%;
    --nc: 0 0% 100%;
    --b1: 0 0% 100%;
    --b2: 0 0% 95%;
    --b3: 180 2% 90%;
    --bc: 215 28% 17%;
    border: 0 solid;
    box-sizing: border-box;
    border-style: solid;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    --chkbg: var(--bc);
    --chkfg: var(--b1);
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    appearance: none;
    border-width: 1px;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    --tw-border-opacity: .2;
    border-radius: var(--rounded-btn,.5rem);
    flex-shrink: 0;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--bc)/var(--tw-bg-opacity));
    animation: checkmark var(--animation-input,.2s)ease-in-out;
    background-repeat: no-repeat;
    background-image: linear-gradient(-45deg,transparent 65%,hsl(var(--chkbg))65.99%),linear-gradient(45deg,transparent 75%,hsl(var(--chkbg))75.99%),linear-gradient(-45deg,hsl(var(--chkbg))40%,transparent 40.99%),linear-gradient(45deg,hsl(var(--chkbg))30%,hsl(var(--chkfg))30.99%,hsl(var(--chkfg))40%,transparent 40.99%),linear-gradient(-45deg,hsl(var(--chkfg))50%,hsl(var(--chkbg))50.99%);

}
