{% extends "layouts/basic.html" %}

{% import "helpers/snippets.html" as snippet with context %}
{% block before_head %}
  {{ super() }}
  {% import "helpers/src_macros.html" as macro %}
  {{ macro.filehelper(datatables=True,query=True,select2=True) }}
{% endblock %}

{%block header%}
    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-5 px-4 sm:px-6 lg:px-8">
          <div class="grid grid-cols-3 gap-4">
            <div class="col-span-2">
              <h1 class="text-2xl tracking-tight font-bold text-gray-900 {%block hide_title_on_mobile%}{%endblock%}">
                <div class="breadcrumbs p-0">
                  <ul>
                    <li><a href="{{url_for("main.projects")}}">Projects</a></li>
                    <li><a href="{{url_for("main.view_project",id=project.id)}}">{{project.name}}</a></li>
                    <li class="text-primary">Controls</li>
                  </ul>
                </div>
              </h1>
            </div>
          </div>
        </div>
        <div class="tabs max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 gap-x-4">
          <a href="{{url_for("main.view_project",id=project.id)}}" class="tab tab-lg tab-lifted text-sm font-medium border-b-0 !px-8 hover:text-primary text-gray-500">Project Summary</a>
          <a href="{{url_for("main.view_policies_in_project",id=project.id)}}" class="tab tab-lg tab-lifted text-sm font-medium border-b-0 !px-8 hover:text-primary text-gray-500">Policies</a>
          <a href="{{url_for("main.view_controls_in_project",id=project.id)}}" class="tab tab-lg tab-lifted text-sm font-medium border-b-0 !px-8 hover:text-primary text-primary tab-active">Controls</a>
          <a href="{{url_for("main.view_settings_in_project",id=project.id)}}" class="tab tab-lg tab-lifted text-sm font-medium border-b-0 !px-8 hover:text-primary text-gray-500">Settings</a>
        </div>
    </header>
{%endblock%}

{%block content%}
<div class="grid grid-cols-6 gap-4 mt-2">
            <div class="col-span-6">
    <div class="card bg-base-100">
      <div class="card-body">
        <h2 class="card-title mb-2">Controls</h2>
        <p class="text-sm text-gray-500 font-medium mb-4">These {{controls|length}} controls are included in your project. Be sure to update the status and implementation effort. <a href="{{config.DOC_LINK}}" class="text-primary">Need help?</a></p>
        <table class="table table-vcenter table-bordered" id="controls-table" style="width:100%">
          <thead>
            <tr>
              <th class="w-1">Reference</th>
              <th class="w-1">Category</th>
              <th>Name</th>
              <th class="w-1">Status</th>
              <th class="w-1">Implemented</th>
              <th class="w-1">Evidence</th>
              <th class="w-1">More</th>
            </tr>
          </thead>
          <tbody>
            {%for project_control in controls%}
            {%set status_color = project_control.status_color()%}
            <tr data-project-id={{project.id}} data-control-id={{project_control.id}}>
              <td class="text-sm font-medium text-gray-500">{{project_control.control.ref_code}}</td>
              <td class="text-sm font-medium text-gray-500"><span class="badge badge-sm bg-slate-500 border-slate-500 hover:bg-accent hover:border-accent">{{project_control.control.category}}</span></td>
              <td class="text-sm font-medium text-gray-500"><div class="tooltip" data-tip="Double click to see more"><div class="truncate w-96">{{project_control.control.name}}</div></div></td>
              <td class="text-sm font-medium text-gray-500"><span class="badge badge-sm bg-{{status_color}}-400 border-{{status_color}}-400">{{project_control.status()}}</span></td>
              <td>
                {%set progress = project_control.implemented_progress()%}
                <div class="flex flex-col">
                  <b class="text-xs font-medium text-gray-500">{{progress}}</b><progress class="progress progress-{{project_control.get_color_from_int(progress,alternate=True)}} w-28" value="{{progress}}" max="100"></progress>
                </div>
              </td>
              <td>
                {%set progress = project_control.progress("with_evidence")%}
                <div class="flex flex-col">
                  <b class="text-xs font-medium text-gray-500">{{progress}}</b><progress class="progress progress-{{project_control.get_color_from_int(progress,alternate=True)}} w-28" value="{{progress}}" max="100"></progress>
                </div>
              </td>
              <td class="text-center">
<div class="dropdown dropdown-top dropdown-end">
  <label tabindex="0" class="btn btn btn-sm border border-white btn-outline"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" /></svg></label>
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
    <li><a href="{{url_for("main.view_control_in_project",id=project.id,cid=project_control.id)}}" class="view">View</a></li>
    <li><a data-name="{{project_control.name}}" data-id="{{project_control.id}}" class="remove-control">Remove from Project</a></li>
  </ul>
</div>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    </div>
</div>

<input type="checkbox" id="data-modal" class="modal-toggle" />
<label for="data-modal" class="modal cursor-pointer">
  <label class="modal-box relative w-11/12 max-w-5xl" for="">
    <h3  id="data-modal-title" class="text-lg font-bold"></h3>
    <pre><code id="data-modal-body" class="card-body text-white bg-slate-500 rounded mt-4 whitespace-pre-line"></code></pre>
  </label>
</label>

<input type="checkbox" id="view-modal" class="modal-toggle" />
<label for="view-modal" class="modal cursor-pointer">
  <label class="modal-box relative w-11/12 max-w-5xl" for="">
    <h3 id="view-modal-title" class="text-lg font-bold"></h3>
    <div id="view-modal-body" class="card-body">
<div class="overflow-hidden bg-white border shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">Control Details</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">View detailed information about the control</p>
  </div>
  <div class="border-t border-gray-200">
    <dl id="div-holder"><dl>
  </div>
</div>

    </div>
  </label>
</label>
{%endblock%}

{%block extrajs%}
<script>
  $(document).ready(function() {
     $(document).on('click', '.remove-control', function() {
       var controlId = $(this).data('id')
       $.ajax({
         type: "DELETE",
         url: `/api/v1/projects/{{project.id}}/controls/${controlId}`,
         contentType: "application/json; charset=utf-8",
         dataType: "json",
         success: function(data){
             createToast("success","Removed control")
             setTimeout(function() {location.reload();}, 500);
             return(data)
         },
         error: function(errMsg) {
             return(errMsg);
         }
       })
     });
     function formatTableRow(key, value, bg) {
       return `<div class="bg-${bg}-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"><dt class="text-sm font-medium text-gray-500">${key}</dt><dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">${value}</dd></div>`
     };

     var table = $("#controls-table").DataTable({"pageLength":50});
     table.on('dblclick', 'tbody tr', function() {
                          var projectId = $(this).data('project-id')
                          var controlId = $(this).data('control-id')
                          var rowData = table.row(this).data();
                          document.getElementById("view-modal").checked = true;
                          // make ajax call
                          $.ajax({
                            type: "GET",
                            url: `/api/v1/projects/${projectId}/controls/${controlId}`,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function(data){
                              console.log(data)
                              var divHolder = $("#div-holder")
                              divHolder.html("");
                              divHolder.append(formatTableRow("Name",data["name"],"gray"));
                              divHolder.append(formatTableRow("Reference Code",data["ref_code"],"white"));
                              divHolder.append(formatTableRow("System Level",data["system_level"],"gray"));
                              divHolder.append(formatTableRow("Status",data["status"],"white"));
                              divHolder.append(formatTableRow("Applicable",data["is_applicable"],"gray"));
                              divHolder.append(formatTableRow("Complete",data["is_complete"],"white"));
                              divHolder.append(formatTableRow("Category",data["category"],"gray"));
                              divHolder.append(formatTableRow("Subcategory",data["subcategory"],"white"));
                              divHolder.append(formatTableRow("Difficulty to Implement",data["dti"],"gray"));
                              divHolder.append(formatTableRow("Difficulty to Collect",data["dtc"],"white"));
                              divHolder.append(formatTableRow("Focus Areas",`<a href="/projects/${data["project_id"]}/controls/${data["id"]}" class="btn btn-xs">View ${data["focus_areas"].length} focus areas</p>`,"gray"));
                              return(data)
                            },
                            error: function(errMsg) {
                              return(errMsg);
                            }
                          })
     });
  });
</script>
{%endblock%}
