{% extends "layouts/sidebar-nav.html" %}

{% block before_head %}
{{ super() }}
{% import "helpers/src_macros.html" as macro %}
{{ macro.filehelper(editor=True) }}
{% endblock %}

{%block page_header_title%}{%endblock%}

{%block content%}
<div x-data="policy()" class="grid grid-cols-10">
    <div x-transition :class="{'col-span-1': !showPanel, 'col-span-3': showPanel}" class="h-full">
        <ul :class="{'p-4 text-center': !showPanel, 'p-8': showPanel}" class="bg-base-200 rounded-b-lg rounded-tl-lg h-full">
            <div x-show="showPanel" class="flex justify-between">
                <span class="text-xl">Settings</span>
                <button @click="showPanel=!showPanel" class="btn btn-sm"><i class="ti ti-arrow-bar-to-left text-lg"></i></button>
            </div>
            <div x-show="!showPanel" class="text-center p-2">
                <button @click="showPanel=!showPanel" class="btn btn-md"><i class="ti ti-settings text-3xl"></i></button>
            </div>
            <div x-show="showPanel">
                <li class="mt-2">
                  <label class="block text-xs font-medium  mb-2">Policy name</label>
                  <input type="text" @change="btnDisabled=false" x-model="policy.name"  placeholder="Policy name" class="input w-full input-sm max-w-xs border border-base-300" />
                </li>
                <li class="mt-2">
                  <label class="block text-xs font-medium  mb-2">Reference Code</label>
                  <input type="text" @change="btnDisabled=false" x-model="policy.ref_code" placeholder="Reference Code" class="input input-sm w-full max-w-xs border border-base-300" />
                </li>
                <li class="mt-2">
                  <label class="block text-xs font-medium  mb-2">Description</label>
                  <input type="text" @change="btnDisabled=false" x-model="policy.description" placeholder="Policy description" class="input input-sm w-full max-w-xs border border-base-300" />
                </li>
                <li class="mt-5">
                    <button @click="updatePolicy" class="btn btn-md btn-primary">Save Changes</button>
                </li>
            </div>
        </ul>
    </div>
    <div :class="{'col-span-9': !showPanel, 'col-span-7': showPanel}" class="h-full rounded-b-lg rounded-tr-lg">
        <div class="bg-base-200">
            <div class="p-6">
                <div class="flex flex-row justify-between mb-4">
                    <h2 class="card-title text-2xl font-medium capitalize" x-text="'Policy: '+policy.name"></h2>
                    <div class="flex flex-row gap-x-2">
                        <button @click="toggleFullScreen" class="btn btn-md bg-base-100">Full Screen</button>
                        <button @click="updatePolicy" :class="{'btn-disabled': btnDisabled}" class="btn btn-md btn-primary">Save Changes</button>
                    </div>
                </div>
                <textarea id="default">{%if policy.content%}{{policy.content|safe}}{%endif%}</textarea>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{%block extrajs%}
<script>
function policy() {
    return {
        init() {
            this.getPolicy()
            editor = tinymce.init({
              selector: 'textarea#default',
              content_css: "{{ url_for('static', filename='css/tiny_custom.css') }}",
              promotion: false,
              height:600,
              toolbar_mode: 'floating',
              plugins: "preview fullscreen searchreplace table codesample lists advlist variable",
              toolbar1: "bold italic strikethrough forecolor backcolor | fontfamily fontsize blocks | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat undo redo",
              variable_mapper: {{labels|tojson}},
              variable_prefix: "{",
              variable_suffix: "}",

              setup: (editor) => {
                this.editor = editor; // Store the editor instance
                const outerContext = this;
                editor.on('input', () => {
                    console.log(outerContext.btnDisabled)
                    outerContext.btnDisabled = false
                });
              }
            });
        },
        editor: null,
        showPanel: false,
        btnDisabled: true,
        policy: {},
        toggleFullScreen: function() {
          if (this.editor) {
            this.editor.execCommand('mceFullScreen'); // Trigger the fullscreen toggle
          }
        },
        updatePolicy: function() {
            let content = tinymce.get("default").getContent();
            let payload = {
              "template":content,
              "content":content,
              "name":this.policy.name,
              "description":this.policy.description,
              "ref_code":this.policy.ref_code
            };

            request("PUT",
                "/api/v1/policies/{{policy.id}}",
                data => {
                    toast("Updated policy")
                    this.btnDisabled = true
                },
                error => {
                  toast(error.message, "error");
                },
                payload
            );
        },
        getPolicy: function() {
            request("GET",
                "/api/v1/policies/{{policy.id}}",
                data => {
                    this.policy = data
                },
                error => {
                  toast(error.message, "error");
                }
            );
        }
    }
}

</script>

{%endblock%}
