{% extends "layouts/basic.html" %}
{% import "helpers/snippets.html" as snippet with context %}
{% block before_head %}
{{ super() }}
{% import "helpers/src_macros.html" as macro %}
{{ macro.filehelper(datatables=True) }}
{% endblock %}

{%block header%}
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-5 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-3 gap-4">
      <div class="col-span-2">
        <h1 class="text-2xl tracking-tight font-bold text-gray-900 {%block hide_title_on_mobile%}{%endblock%}">
          <div class="breadcrumbs p-0">
            <ul>
              <li><a href="{{url_for("main.controls")}}">Control</a></li>
              <li class="text-primary">{{control.ref_code}}</li>
            </ul>
          </div>
        </h1>
      </div>
    </div>
    <p class="text-sm text-gray-500 font-medium">View/update your control. Changes here will not reflect controls in existing projects</p>
  </div>
</header>
{%endblock%}

{%block content%}
<div class="col-span-6">
  <div class="card bg-base-100 px-4 py-5 sm:px-6">
    <div class="grid grid-cols-6 gap-x-4">
      <div class="sm:col-span-6">
        <div class="m-auto text-lg leading-6 font-medium text-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-primary w-6 h-6 float-left mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
          </svg>
          {{control.name}}
        </div>
        <div class="m-auto mt-4">
          <div class="sm:col-span-4">
            <div class="collapse border sm:rounded-lg collapse-plus">
              <input type="checkbox" />
              <div class="collapse-title text-md font-medium text-gray-500 border-b">
                Show additional information
              </div>
              <div class="collapse-content">
                <dl>
                  <div class="px-4 py-5 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 sm:col-span-2">Description</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-4">{{control.description}}</dd>
                  </div>
                </dl>
                <dl>
                  <div class="px-4 py-5 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 sm:col-span-2">Category</dt>
                    <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-4 badge">{{control.category}}</dd>
                  </div>
                </dl>
                <dl>
                  <div class="px-4 py-5 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 sm:col-span-2">Subcategory</dt>
                    <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-4 badge">{{control.subcategory}}</dd>
                  </div>
                </dl>
                <dl>
                  <div class="px-4 py-5 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 sm:col-span-2">Difficulty to Implement</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-4">
                      <div class="rating">
                        <input type="radio" name="rating-4" class="mask mask-star-2 bg-red-500" {%if control.dti == "easy"%}checked{%endif%}/>
                        <input type="radio" name="rating-4" class="mask mask-star-2 bg-red-500" {%if control.dti == "moderate"%}checked{%endif%}/>
                        <input type="radio" name="rating-4" class="mask mask-star-2 bg-red-500" {%if control.dti == "hard"%}checked{%endif%}/>
                      </div>
                    </dd>
                  </div>
                </dl>
                <dl>
                  <div class="px-4 py-5 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 sm:col-span-2">Difficulty to Collect</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-4">
                      <div class="rating">
                        <input type="radio" name="rating-5" class="mask mask-star-2 bg-red-500" {%if control.dtc == "easy"%}checked{%endif%}/>
                        <input type="radio" name="rating-5" class="mask mask-star-2 bg-red-500" {%if control.dtc == "moderate"%}checked{%endif%}/>
                        <input type="radio" name="rating-5" class="mask mask-star-2 bg-red-500" {%if control.dtc == "hard"%}checked{%endif%}/>
                      </div>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-span-6 mt-4">
  <div class="card bg-base-100">
    <div class="px-4 py-5 sm:px-6">
      <div class="text-lg leading-6 font-medium text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-primary w-6 h-6 float-left mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75" />
        </svg>
        Focus Areas for {{control.ref_code}}
      </div>
      <button class="float-right btn btn-xs toggle-fa hover:bg-primary hover:border-primary">Toggle</button>
      <p class="mt-1 text-sm text-gray-500">Focus areas break the control down into specific tasks or actions items.</p>
    </div>
    <div class="border-t border-gray-200">
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:px-6">
        {%for focus in focus_areas%}
        <div class="grid grid-cols-10 mb-2">
          <div class="col-span-1 flex m-auto">
            {{focus.ref_code}}
          </div>
          <div class="col-span-9">
            <div class="collapse border border-base-300 bg-base-100 rounded-box collapse-plus">
              <input type="checkbox" />
              <div class="collapse-title text-gray-500 text-sm font-medium">
                <div class="flex flex-row">
                  <h3 class="ml-1">{{focus.name}}</h3>
                </div>
              </div>
              <div class="collapse-content bg-slate-200">
                <div class="overflow-hidden bg-white shadow sm:rounded-lg mt-4">
                  <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">{{focus.id}} - Focus Area Details</h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">View detailed information about the focus area</p>
                  </div>
                  <div class="border-t border-gray-200">
                    <dl>
                      <div class="px-4 py-5 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Reference code</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:col-span-5 sm:mt-0"><input type="text" {%if focus.ref_code%}value="{{focus.ref_code}}"{%endif%} placeholder="Reference code" class="input input-bordered w-full max-w-xs" /></dd>
                      </div>
                    </dl>
                    <dl>
                      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Description</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:col-span-5 sm:mt-0"><textarea data-name="description" class="textarea textarea-bordered w-full input-{{focus.id}}-description" placeholder="Document the description">{%if focus.description%}{{focus.description}}{%endif%}</textarea></dd>
                      </div>
                    </dl>
                    <dl>
                      <div class="px-4 py-5 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Mitigation</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:col-span-5 sm:mt-0"><textarea data-name="mitigation" class="textarea textarea-bordered w-full input-{{focus.id}}-mitigation" placeholder="Document the mitigation process">{%if focus.mitigation%}{{focus.mitigation}}{%endif%}</textarea></dd>
                      </div>
                    </dl>
                    <dl>
                      <div class="px-4 py-5 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Internal Notes</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:col-span-5 sm:mt-0"><textarea data-name="notes" class="textarea textarea-bordered w-full input-{{focus.id}}-notes" placeholder="Document any notes here. Users with the Audit role will not be able to view these notes">{%if focus.notes%}{{focus.notes}}{%endif%}</textarea></dd>
                      </div>
                    </dl>
                  </div>
                  <button data-id={{focus.id}} class="save-fa float-right btn btn-md hover:bg-primary hover:border-primary m-4 w-20">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</div>

{%endblock%}
{%block extrajs%}
<script>
  $(document).on('click', '.btn-na', function() {
    $.ajax({
      type: "PUT",
      url: "/api/v1/controls/{{control.id}}/applicability",
      data: JSON.stringify({"applicable":false}),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data){
          createToast("success","Control has been set as Not Applicable")
          return(data)
      },
      error: function(errMsg) {
          return(errMsg);
      }
    })  
  });
  $(document).on('click', '.save-fa', function() {
    var faId = $(this).data('id')
    var status = $(`.input-${faId}-status`).val()
    var evidence = $(`.input-${faId}-evidence`).val()
    var notes = $(`.input-${faId}-notes`).val()
    var feedback = $(`.input-${faId}-feedback`).val()
    var data = {
      "status":status,
      "evidence":evidence,
      "notes":notes,
      "feedback":feedback,
    };
    $.ajax({
      type: "PUT",
      url: `/api/v1/controls/{{control.id}}/focus-areas/${faId}`,
      data: JSON.stringify(data),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data){
          createToast("success","Updated the focus area")
          return(data)
      },
      error: function(errMsg) {
          return(errMsg);
      }
    })
    createToast("warning", "Please refresh the page to view changes")
  });
  
  $(document).on('click', '.toggle-fa', function() {
    if ($(".collapse").hasClass("collapse-open")) {
      $(".collapse").removeClass("collapse-open")
    } else {
      $(".collapse").addClass("collapse-open")
    }
  });
</script>
{%endblock%}
